## Parsing CSV file

### Using python

In [23]:
import os

DATADIR =''
DATAFILE = 'beatles-diskography.csv'
datafile = os.path.join(DATADIR,DATAFILE)

In [27]:
def parse_file_1(datafile):
    with open(datafile , 'r') as f:
        count = 0
        header = f.readline()
        for line in f:
            if count < 5:
                print('{}. {}'.format(count, line))
            count += 1
    print(header)

f.readline() : reads and takes pop first line from datafile

#Your task is to read the input DATAFILE line by line, and for the first 10 lines (not including the header)<br>
#split each line on "," and then for each line, create a dictionary <br>
#where the key is the header title of the field, and the value is the value of that field in the row.<br>
#The function parse_file should return a list of dictionaries,<br>
#each data line in the file being a single list entry.<br>
#Field names and values should not contain extra whitespace, like spaces or newline characters.<br>
#You can use the Python string method strip() to remove the extra whitespace.<br>
#You have to parse only the first 10 data lines in this exercise,<br>
#so the returned list should have 10 entries!<br>

In [28]:
parse_file_1(DATAFILE)

0. Please Please Me,22 March 1963,Parlophone(UK),1,-,Gold,Platinum

1. With the Beatles,22 November 1963,Parlophone(UK),1,-,Platinum,Gold

2. Beatlemania! With the Beatles,25 November 1963,Capitol(CAN),-,-,,

3. Introducing... The Beatles,10 January 1964,Vee-Jay(US),-,2,,

4. Meet the Beatles!,20 January 1964,Capitol(US),-,1,,5xPlatinum

Title,Released,Label,UK Chart Position,US Chart Position,BPI Certification,RIAA Certification

In [36]:
def parse_file_2(datafile):
    data = []
    with open(datafile,'r') as f:
        count = 0
        header = f.readline().split(',')
        for line in f:
            if count == 5:
                break
            fields = line.split(',')
            entry = {}
            for index,value in enumerate(fields):
                entry[fields[index].strip()] = value.strip()
            data.append(entry)    
            count += 1
    return data

In [37]:
parse_file_2(datafile)

[{'Please Please Me': 'Please Please Me',
  '22 March 1963': '22 March 1963',
  'Parlophone(UK)': 'Parlophone(UK)',
  '1': '1',
  '-': '-',
  'Gold': 'Gold',
  'Platinum': 'Platinum'},
 {'With the Beatles': 'With the Beatles',
  '22 November 1963': '22 November 1963',
  'Parlophone(UK)': 'Parlophone(UK)',
  '1': '1',
  '-': '-',
  'Platinum': 'Platinum',
  'Gold': 'Gold'},
 {'Beatlemania! With the Beatles': 'Beatlemania! With the Beatles',
  '25 November 1963': '25 November 1963',
  'Capitol(CAN)': 'Capitol(CAN)',
  '-': '-',
  '': ''},
 {'Introducing... The Beatles': 'Introducing... The Beatles',
  '10 January 1964': '10 January 1964',
  'Vee-Jay(US)': 'Vee-Jay(US)',
  '-': '-',
  '2': '2',
  '': ''},
 {'Meet the Beatles!': 'Meet the Beatles!',
  '20 January 1964': '20 January 1964',
  'Capitol(US)': 'Capitol(US)',
  '-': '-',
  '1': '1',
  '': '',
  '5xPlatinum': '5xPlatinum'}]

"""
Your task is to process the supplied file and use the csv module to extract data from it.
The data comes from NREL (National Renewable Energy Laboratory) website. Each file
contains information from one meteorological station, in particular - about amount of
solar and wind energy for each hour of day.

Note that the first line of the datafile is neither data entry, nor header. It is a line
describing the data source. You should extract the name of the station from it.

The data should be returned as a list of lists (not dictionaries).
You can use the csv modules "reader" method to get data in such format.
Another useful method is next() - to get the next line from the iterator.
You should only change the parse_file function.
"""

## Using CSV module

### DictModule
Automatically assume 1st line from datafile as header.
and returns each line as dict.Result same as above

In [74]:
import csv
import os
DATADIR = ''
DATAFILE = 'beatles-diskography.csv'
datafile = os.path.join(DATADIR, DATAFILE)
print(datafile)

beatles-diskography.csv

In [90]:
def parse_csv_1(datafile):
    data= []
    with open(datafile,'r') as f:
        count = 0
        r = csv.DictReader(f)
        for line in r:
            if count == 5 :
                break
#             print(line)
            data.append(line)
            count += 1
    return data

In [91]:
parse_csv_1(datafile)

[{'Title': 'Please Please Me',
  'Released': '22 March 1963',
  'Label': 'Parlophone(UK)',
  'UK Chart Position': '1',
  'US Chart Position': '-',
  'BPI Certification': 'Gold',
  'RIAA Certification': 'Platinum'},
 {'Title': 'With the Beatles',
  'Released': '22 November 1963',
  'Label': 'Parlophone(UK)',
  'UK Chart Position': '1',
  'US Chart Position': '-',
  'BPI Certification': 'Platinum',
  'RIAA Certification': 'Gold'},
 {'Title': 'Beatlemania! With the Beatles',
  'Released': '25 November 1963',
  'Label': 'Capitol(CAN)',
  'UK Chart Position': '-',
  'US Chart Position': '-',
  'BPI Certification': '',
  'RIAA Certification': ''},
 {'Title': 'Introducing... The Beatles',
  'Released': '10 January 1964',
  'Label': 'Vee-Jay(US)',
  'UK Chart Position': '-',
  'US Chart Position': '2',
  'BPI Certification': '',
  'RIAA Certification': ''},
 {'Title': 'Meet the Beatles!',
  'Released': '20 January 1964',
  'Label': 'Capitol(US)',
  'UK Chart Position': '-',
  'US Chart Position': '1',
  'BPI Certification': '',
  'RIAA Certification': '5xPlatinum'}]

### reader

In [4]:
import os
import csv
datafile = '745090.csv'

In [5]:
def parse_csv_2(datafile):
    data = []
    with open(datafile) as f:
        name = f.readline()
        header = f.readline()
        reader = csv.reader(f)
        count = 0
        for line in reader:
            if count == 5:
                break
#             print(line)
            data.append(line)
            count += 1
    return data

In [6]:
result = parse_csv_2(datafile)

In [7]:
result

[['01/01/2005',
  '01:00',
  '0',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '3',
  'E',
  '9',
  '3',
  'E',
  '9',
  '8.0',
  'A',
  '7',
  '6.0',
  'A',
  '7',
  '87',
  'A',
  '7',
  '1013',
  'A',
  '7',
  '150',
  'A',
  '7',
  '2.1',
  'A',
  '7',
  '16100',
  'A',
  '7',
  '77777',
  'A',
  '7',
  '1.1',
  'E',
  '8',
  '0.099',
  'F',
  '8',
  '0.160',
  'F',
  '8',
  '0',
  '1',
  'A',
  '7'],
 ['01/01/2005',
  '02:00',
  '0',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '10',
  'E',
  '9',
  '10',
  'E',
  '9',
  '8.0',
  'A',
  '7',
  '7.0',
  'A',
  '7',
  '93',
  'A',
  '7',
  '1013',
  'A',
  '7',
  '0',
  'A',
  '7',
  '0.0',
  'A',
  '7',
  '12900',
  'A',
  '7',
  '930',
  'A',
  '7',
  '1.1',
  'E',
  '8',
  '0.099',
  'F',
  '8',
  '0.160',
  'F',
  '8',
  '0',
  '1',
  'A',
  '7'],
 ['01/01/2005',
  '03:00',
  '0',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '8',
  'E',
  '9',
  '8',
  'E',
  '9',
  '7.0',
  'A',
  '7',
  '6.0',
  'A',
  '7',
  '93',
  'A',
  '7',
  '1013',
  'A',
  '7',
  '120',
  'A',
  '7',
  '2.1',
  'A',
  '7',
  '16100',
  'A',
  '7',
  '2100',
  'A',
  '7',
  '1.1',
  'E',
  '8',
  '0.099',
  'F',
  '8',
  '0.160',
  'F',
  '8',
  '0',
  '1',
  'A',
  '7'],
 ['01/01/2005',
  '04:00',
  '0',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '10',
  'E',
  '9',
  '10',
  'E',
  '9',
  '8.0',
  'A',
  '7',
  '7.0',
  'A',
  '7',
  '93',
  'A',
  '7',
  '1014',
  'A',
  '7',
  '160',
  'A',
  '7',
  '2.6',
  'A',
  '7',
  '16100',
  'A',
  '7',
  '1500',
  'A',
  '7',
  '1.1',
  'E',
  '8',
  '0.099',
  'F',
  '8',
  '0.160',
  'F',
  '8',
  '0',
  '1',
  'A',
  '7'],
 ['01/01/2005',
  '05:00',
  '0',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '0',
  '2',
  '0',
  '1',
  'E',
  '9',
  '1',
  'E',
  '9',
  '7.0',
  'A',
  '7',
  '6.0',
  'A',
  '7',
  '93',
  'A',
  '7',
  '1014',
  'A',
  '7',
  '120',
  'A',
  '7',
  '1.5',
  'A',
  '7',
  '16100',
  'A',
  '7',
  '77777',
  'A',
  '7',
  '1.1',
  'E',
  '8',
  '0.099',
  'F',
  '8',
  '0.160',
  'F',
  '8',
  '0',
  '1',
  'A',
  '7']]

In [102]:
result[0]

['With the Beatles',
 '22 November 1963',
 'Parlophone(UK)',
 '1',
 '-',
 'Platinum',
 'Gold']

In [103]:
result[0][0]

'With the Beatles'

# Write to CSV file

In [2]:
filename = 'out_file_1.csv'

In [11]:
def save_file(data,filename):
    with open(filename,'w') as f:
        w = csv.writer(f ,delimiter='|')
        for line in data:
            w.writerow(line)

In [12]:
save_file( result , filename)

### Using pandas

In [1]:
import pandas as pd

In [2]:
read_file = pd.read_csv('beatles-diskography.csv')

In [3]:
read_file.head()

,Title,Released,Label,UK Chart Position,US Chart Position,BPI Certification,RIAA Certification
0,Please Please Me,22 March 1963,Parlophone(UK),1,-,Gold,Platinum
1,With the Beatles,22 November 1963,Parlophone(UK),1,-,Platinum,Gold
2,Beatlemania! With the Beatles,25 November 1963,Capitol(CAN),-,-,NaN,NaN
3,Introducing... The Beatles,10 January 1964,Vee-Jay(US),-,2,NaN,NaN
4,Meet the Beatles!,20 January 1964,Capitol(US),-,1,NaN,5xPlatinum

In [4]:
print(read_file)

                                    Title           Released  \
0                        Please Please Me      22 March 1963
1                        With the Beatles   22 November 1963
2           Beatlemania! With the Beatles   25 November 1963
3              Introducing... The Beatles    10 January 1964
4                       Meet the Beatles!    20 January 1964
5                         Twist and Shout    3 February 1964
6               The Beatles' Second Album      10 April 1964
7            The Beatles' Long Tall Sally        11 May 1964
8                      A Hard Day's Night       26 June 1964
9                                     NaN       10 July 1964
10                          Something New       20 July 1964
11                       Beatles for Sale    4 December 1964
12                            Beatles '65   15 December 1964
13                             Beatles VI       14 June 1965
14                                  Help!      6 August 1965
15                                    NaN     13 August 1965
16                            Rubber Soul    3 December 1965
17                                    NaN    6 December 1965
18                    Yesterday and Today       15 June 1966
19                               Revolver      5 August 1966
20                                    NaN      8 August 1966
21  Sgt. Pepper's Lonely Hearts Club Band        1 June 1967
22                   Magical Mystery Tour   27 November 1967
23                            The Beatles   22 November 1968
24                       Yellow Submarine    13 January 1969
25                             Abbey Road  26 September 1969
26                              Let It Be         8 May 1970

                           Label UK Chart Position US Chart Position  \
0                 Parlophone(UK)                 1                 -
1                 Parlophone(UK)                 1                 -
2                   Capitol(CAN)                 -                 -
3                    Vee-Jay(US)                 -                 2
4                    Capitol(US)                 -                 1
5                   Capitol(CAN)                 -                 -
6                    Capitol(US)                 -                 1
7                   Capitol(CAN)                 -                 -
8          United Artists(US)[C]                 -                 1
9                 Parlophone(UK)                 1                 -
10                   Capitol(US)                 -                 2
11                Parlophone(UK)                 1                 -
12                   Capitol(US)                 -                 1
13   Parlophone(NZ), Capitol(US)                 -                 1
14                Parlophone(UK)                 1                 -
15                Capitol(US)[C]                 -                 1
16                Parlophone(UK)                 1                 -
17                Capitol(US)[C]                 -                 1
18                   Capitol(US)                 -                 1
19                Parlophone(UK)                 1                 -
20                Capitol(US)[C]                 -                 1
21   Parlophone(UK), Capitol(US)                 1                 1
22   Parlophone(UK), Capitol(US)             31[D]                 1
23        Apple(UK), Capitol(US)                 1                 1
24        Apple(UK), Capitol(US)                 3                 2
25        Apple(UK), Capitol(US)                 1                 1
26  Apple(UK),United Artists(US)                 1                 1

   BPI Certification RIAA Certification
0               Gold           Platinum
1           Platinum               Gold
2                NaN                NaN
3                NaN                NaN
4                NaN         5xPlatinum
5                NaN                NaN
6                NaN         2xPlatinum
7                NaN                NaN
8                NaN         4xPlatinum
9               Gold                NaN
10               NaN           Platinum
11              Gold           Platinum
12               NaN         3xPlatinum
13               NaN           Platinum
14          Platinum                NaN
15               NaN         3xPlatinum
16          Platinum                NaN
17               NaN         6xPlatinum
18               NaN         2xPlatinum
19          Platinum                NaN
20               NaN         5xPlatinum
21        3xPlatinum        11xPlatinum
22          Platinum         6xPlatinum
23          Platinum        19xPlatinum
24            Silver           Platinum
25        2xPlatinum        12xPlatinum
26              Gold         4xPlatinum